{% extends 'menu/menu.html' %}
{% block title %}
    Reiniciar contrase&ntilde;a
{% endblock %}
{% block body %}
    <main class="row mt-5 mb-5 m-lg-5 p-lg-5">
        <div class="sign-up col-12 col-lg-6 offset-lg-3 rounded-3 border border-3 border-success p-5">
            <h2>Reinicio de contrase&ntilde;a</h2>
            {% if form.errors %}
                <div class="errornote">
                    <p class="text-danger">Su correo no existe en la base de datos</p>
                </div>
            {% endif %}
            <form class="justify-self-center" method="post">
                {% for field in form %}
                    <div class="form-group">{{ field.label }}{{ field }}</div>
                {% endfor %}
                <button type="submit" class="btn btn-outline-success m-2">Enviar</button>
            {% csrf_token %}
            </form>
        </div>
    </main>
{% endblock %}