{% extends "menu/menu.html" %}
{% block title %}Reset your password{% endblock %}
{% block body %}
    <main class="row mt-5 mb-5 m-lg-5 p-lg-5">
        <div class="sign-up mt-5 mb-5 col-12 col-lg-6 offset-lg-3 rounded-3 border border-3 border-success p-5">
            <h1 class="text-center">Reinicie su contrase&ntilde;a</h1>
            <p class="justify-content-evenly">Le hemos enviado instrucciones por correo electr&oacute;nico.</p>
            <p class="justify-content-evenly">Si usted no ha recibido el correo, por favor asegurese de haber ingresado la cuenta con la que se registr&oacute;.</p>
        </div>
    </main>
{% endblock %}