<div class="d-flex justify-content-center">
    <div class="card container-fluid">
        <div class="card-body d-flex justify-content-center">
            <div class="card-text">
                <h5>{{ item.title }}</h5>
                <p>Presionando el bot&oacute;n podr&aacute; descargar el material</p>
                <div class="d-flex justify-content-center">
                    <a href="{{ item.file.url }}" class="button btn btn-outline-dark">Descargar archivo</a>
                </div>
            </div>
        </div>
    </div>
</div>