{% extends 'menu/menu.html' %}
{% block title %}
{{ lecture.title }}
{% endblock %}
{% block login %}/logout{% endblock %}
{% block logintext %} Salir {% endblock %}
{% block body %}
    <main class="container-fluid mt-5 mb-0 pt-5 bg-body">
        <div class="m-0 col-12 col-lg-6 offset-lg-3 rounded-3 border border-3 border-success p-5">
            <article>
                <div class="col-12 justify-items-center justify-content-center">
                    <h1 class="text-center text-success">{{ lecture.title }}</h1>
                </div>
                <section id="intro">
                    <p>{{ lecture.overview }}</p>
                </section>
            </article>
        </div>
    </main>
{% endblock %}