{% extends 'menu/menu.html' %}
{% block title %}
    Cap&iacute;tulo uno
{% endblock %}
{% block login %}/logout{% endblock %}
{% block logintext %} Salir {% endblock %}
{% block body %}
    <main class="container-fluid mt-5 pt-5">
        <article>
            <div class="col-12 justify-items-center justify-content-center">
                <h1>Clasificaci&oacute;n de la materia</h1>
            </div>
            <section id="intro">
                <p>El estudio</p>
            </section>
        </article>
    </main>
{% endblock %}